USE [pm01_Astakhov_Conference]
GO
/****** Object:  Table [dbo].[City]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Flag] [binary](50) NULL,
	[PhotoPath] [nvarchar](200) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Name_Eng] [nvarchar](50) NULL,
	[Flag] [binary](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [nvarchar](2) NOT NULL,
	[City_ID] [int] NOT NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jury]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jury](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[Country_ID] [int] NOT NULL,
	[Tel] [nvarchar](30) NOT NULL,
	[Direct] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Jury] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderators]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderators](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Direct] [nvarchar](100) NOT NULL,
	[Event] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Moderators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizers]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[Country_ID] [int] NOT NULL,
	[Tel] [nvarchar](30) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Gender] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Organizers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 15.04.2024 10:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[Country_ID] [int] NOT NULL,
	[Tel] [nvarchar](30) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Gender] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_participants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[City] ([ID], [Name], [Flag], [PhotoPath]) VALUES (1, N'Абаза', NULL, NULL)
INSERT [dbo].[City] ([ID], [Name], [Flag], [PhotoPath]) VALUES (2, N'Абакан', NULL, NULL)
INSERT [dbo].[City] ([ID], [Name], [Flag], [PhotoPath]) VALUES (3, N'Абдулино', NULL, NULL)
GO
INSERT [dbo].[Country] ([ID], [Code], [Name], [Name_Eng], [Flag]) VALUES (4, N'AF', N'Афганистан', N'Afghanistan', NULL)
INSERT [dbo].[Country] ([ID], [Code], [Name], [Name_Eng], [Flag]) VALUES (8, N'AL', N'Албания', N'Albania', NULL)
INSERT [dbo].[Country] ([ID], [Code], [Name], [Name_Eng], [Flag]) VALUES (10, N'AQ', N'Антарктида', N'Antarctica', NULL)
GO
INSERT [dbo].[Events] ([ID], [Title], [Date], [Days], [City_ID], [Logo]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), N'1', 34, N'\Resource\EventsLogo\1.jpeg')
INSERT [dbo].[Events] ([ID], [Title], [Date], [Days], [City_ID], [Logo]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), N'3', 34, N'\Resource\EventsLogo\2.jpeg')
INSERT [dbo].[Events] ([ID], [Title], [Date], [Days], [City_ID], [Logo]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), N'2', 2, N'\Resource\EventsLogo\3.jpeg')
GO
SET IDENTITY_INSERT [dbo].[Jury] ON 

INSERT [dbo].[Jury] ([ID], [Mail], [Date_birth], [Country_ID], [Tel], [Direct], [Password], [Photo]) VALUES (1, N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 35, N'78805446183', N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Jury] ([ID], [Mail], [Date_birth], [Country_ID], [Tel], [Direct], [Password], [Photo]) VALUES (2, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'78354786160', N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Jury] ([ID], [Mail], [Date_birth], [Country_ID], [Tel], [Direct], [Password], [Photo]) VALUES (3, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'71737705513', N'ИТ', N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[Jury] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderators] ON 

INSERT [dbo].[Moderators] ([ID], [Direct], [Event], [Password], [Photo]) VALUES (1, N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderators] ([ID], [Direct], [Event], [Password], [Photo]) VALUES (2, N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderators] ([ID], [Direct], [Event], [Password], [Photo]) VALUES (3, N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderators] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizers] ON 

INSERT [dbo].[Organizers] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (1, N'Васильев', N'Всеволод', N'Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 51, N'73549035367', N'Ke22Yh8Pp7', N'foto1.jpg', N'м')
INSERT [dbo].[Organizers] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (2, N'Новиков', N'Фёдор', N'Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'', N'Tj78jXeH68', N'foto2.jpg', N'м')
INSERT [dbo].[Organizers] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (3, N'Фролова', N'Владислава', N'Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'', N'DF9a8cJf82', N'foto3.jpg', N'ж')
SET IDENTITY_INSERT [dbo].[Organizers] OFF
GO
SET IDENTITY_INSERT [dbo].[Participants] ON 

INSERT [dbo].[Participants] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (1, N'Ершова', N'Нора', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'79604240711', N'tKKevv8%', N'foto60.jpg', N'ж')
INSERT [dbo].[Participants] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (2, N'Афанасьева', N'Жанна', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'79306616931', N'huSfHm4$', N'foto61.jpg', N'ж')
INSERT [dbo].[Participants] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (3, N'Крылова', N'Рая', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'79572656068', N'TlUwMw77%', N'foto62.jpg', N'ж')
SET IDENTITY_INSERT [dbo].[Participants] OFF
GO
